GOOGLE_API_KEY=your_google_api_key_here
DROPBOX_ACCESS_TOKEN=your_dropbox_access_token_here
DROPBOX_APP_NAME=your_dropbox_app_name_here
DROPBOX_REFRESH_TOKEN=your_dropbox_refresh_token_here
DROPBOX_APP_KEY=your_dropbox_app_key_here
DROPBOX_APP_SECRET=your_dropbox_app_secret_here
GEMINI_MODEL=gemini-2.5-flash-image
GEMINI_TEXT_MODEL=gemini-2.5-flash-lite